@font-face {
    font-family: bignoodle;
    src: url("./../fonts/big_noodle_titling.ttf");
}

@font-face {
    font-family: roboto-bold;
    src: url("./../fonts/roboto-bold.ttf");
}

@font-face {
    font-family: roboto-thin;
    src: url("./../fonts/roboto-thin.ttf");
}

@font-face {
    font-family: roboto-light;
    src: url("./../fonts/roboto-light.ttf");
}

@font-face {
    font-family: roboto-condensed;
    src: url("./../fonts/RobotoCondensed-Regular.ttf");
}

.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    padding-top: 120px !important;
    top: 0;
    right: 0;
    background-color: rgba(242, 108, 79, 0.65);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

/* The navigation menu links */
.side-nav a {
    font-family: bignoodle, sans-serif;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 32px;
    color: white;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.side-nav a:hover, .offcanvas a:focus {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.side-nav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


.header {
    display: flex;
    padding: 30px 200px;
    /*position: relative;*/
}

.header-menu {
    display: none;
    text-align: right;
    margin-right: 50px;
    margin-bottom: 50px;
}

.header-menu div a {
     text-decoration: none;
     font-family: bignoodle, sans-serif;
     font-size: 38px;
     color: #353535;
 }

.header-menu div a:hover {
    font-size: 40px;
    color: #535353;
}

.header-left {

}

.header-right {
    margin-left: auto;
}

.menu-btn {
    display: none;
}

.menu-btn div {
    line-height: 1;
    font-size: 18px;
    font-weight: 200;
    vertical-align: middle;
    display: none;
}

.menu-btn span {
    display: block;
    width: 25px;
    height: 2px;
    margin: 4px 0;
    background: black;
}


.main-first {
    background-color: #353535;
    text-align: center;
    padding-top: 300px;
    padding-bottom: 50px;
}

.main-first-span1 {

    font-family: bignoodle, sans-serif;
    font-size: 72px;
    letter-spacing: 5px;
    color: #d6d5d5;
    text-align: center;
}

.main-first-span2 {
    font-family: bignoodle, sans-serif;
    font-size: 48px;

    color: #d6d5d5;
    text-align: center;
}

.main-first-span3 {
    font-family: roboto-bold, sans-serif;
    font-size: 12px;
    color: #d6d5d5;
    text-align: center;
}

.main-first-div1 {
    margin-top: 300px;
}

.main-second {
    padding: 100px 200px;
}

.main-second-div1 {
    font-family: bignoodle, sans-serif;
    font-size: 48px;
    letter-spacing: 5px;
    text-align: center;
}

.main-second-div2 {
    display: table;
    margin: 0 auto;
}


.main-second-div2 div {
    line-height: 1;
    font-size: 18px;
    font-weight: 200;
    vertical-align: middle;
}

.main-second-div2 span {
    display: block;
    width: 140px;
    height: 3px;
    margin: 4px 0;
    background-color: #f4511e;
}

.main-second-div3 {
    margin: 50px;
    text-align: center;
    font-family: roboto-thin, sans-serif;
    font-size: 14px;
    color: #696969;
}

.main-second-div4 {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;

    /*align-items: center;*/
}

.main-second-div4-1 {
    /*margin-left: 35px;*/
    padding: 20px;
    text-align: center;
    background-color: #ebebeb;
    /*flex:1 1 ;*/
    margin: 10px;
}

.main-second-div4-title {
    font-family: roboto-bold, sans-serif;
    font-size: 18px;
    color: #707070;
    margin: 10px 0
}

.main-second-div4-content {
    font-family: roboto-thin, sans-serif;
    font-size: 14px;
    color: #707070;
}

.main-third {
    display: flex;
}



.main-third-1 {
    background-color: #171f23;
    padding: 135px 40px;
    flex-basis: 50%;
}

.main-third-2 {
    flex-basis: 50%;
}

.main-third-2 iframe {
    width: 100%;
    height: 100%;
}
.main-third-1-1 {
    text-align: center;
    font-family: roboto-bold, sans-serif;
    font-size: 30px;
    color: white;
}

.main-third-1-2 {
    padding: 50px 0;
    text-align: center;
    font-family: roboto-bold, sans-serif;
    font-size: 14px;
    color: #696969;
}

.main-third-1-3-form {
    margin: 0 auto;
    text-align: center;
}
.main-third-1-3-form input {
    /*margin: 0 auto;*/
    /*text-align: center;*/
    background-color: #e84c3d;
    border: none;
    padding: 10px 25px;
}

.main-third-1-3-form input[type=submit] {
    /*margin: 0 auto;*/
    /*text-align: center;*/
    font-family: roboto-bold, sans-serif;
    font-size: 14px;
    color: white;
}

.main-second2-div4-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-second2-div4-flex > div {
    margin: 10px;
}

.main-second2-div4-flex-menuitem span a {
    font-family: roboto-bold, sans-serif;
    font-size: 14px;
    color: #807f7f;
    text-decoration: none;

}

.menu-span div {
    line-height: 1;
    font-size: 18px;
    font-weight: 200;
    vertical-align: middle;
}

.menu-span span {
    display: none;
    width: 100%;
    height: 2px;
    margin-top: 5px;
    background: #e84c3d;
}

.circle {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background: #f26c4f;
}

.owl-carousel {
    display: block !important;
}

.main-second-div5-1 {
    /*margin-left: 35px;*/
    padding: 60px;
    text-align: center;
    background-color: #ebebeb;
    /*flex:1 1 ;*/
    margin: 10px;
    width: 100px;
}

.main-second-div5-2 {
    /*margin-left: 35px;*/
    padding: 100px 80px;
    text-align: center;
    background-color: #ebebeb;
    /*flex:1 1 ;*/
    margin: 10px;

}

.item {
    /*width: 100px;*/
}
.item .circle, .item .name, .item .occupation {
    margin-bottom: 20px;
}

.item .name {
     font-family: roboto-bold, sans-serif;
     font-size: 20px;
     color: #3d3d3d;
     letter-spacing: 2px;
     margin-bottom: 5px;
}

.item .occupation {
    font-family: roboto-light, sans-serif;
    font-size: 16px;
    color: #3d3d3d;
    /*letter-spacing: 1px;*/
}

#owl-demo .item img{
    /*display: block;*/
    /*width: 100%;*/
    /*height: auto;*/
}

.owl-nav {
    display: none;
}

.social-networks {
    margin-bottom: 20px;
}
/*
*/
.owl-theme .owl-controls{
    margin-top:10px;
    text-align:center;
    -webkit-tap-highlight-color:transparent
}

.owl-theme .owl-controls .owl-nav [class*=owl-]{
    color:#fff;
    font-size:14px;
    margin:5px;
    padding:4px 7px;
    background:#d6d6d6;
    display:inline-block;
    cursor:pointer;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px
}

.owl-theme .owl-controls .owl-nav [class*=owl-]:hover{
    background:#869791;
    color:#fff;
    text-decoration:none
}

.owl-theme .owl-controls .owl-nav .disabled{
    opacity:.5;
    cursor:default
}

.owl-theme .owl-dots .owl-dot{
    display:inline-block;
    zoom:1;
    *display:inline
}

.owl-theme .owl-dots .owl-dot span{
    width:10px;
    height:10px;
    margin:5px 7px;
    background:#d6d6d6;
    display:block;
    -webkit-backface-visibility:visible;
    -webkit-transition:opacity 200ms ease;
    -moz-transition:opacity 200ms ease;
    -ms-transition:opacity 200ms ease;
    -o-transition:opacity 200ms ease;
    transition:opacity 200ms ease;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    border-radius:30px
}

.owl-theme .owl-dots .owl-dot.active span,.owl-theme .owl-dots .owl-dot:hover span{
    background:#869791
}

.main-second-div5-title {
    text-align: left;
    font-family: roboto-bold, sans-serif;
    font-size: 18px;
    color: #707070;
    margin: 10px 0
}

.main-second-div5-content {
    text-align: left;
    font-family: roboto-thin, sans-serif;
    font-size: 14px;
    color: #707070;
    margin-top: 25px;
    margin-bottom: 25px;
}


.main-second-div5-skills {
    text-align: left;
}

.main-second-div5-skills-flex {
    display: flex;
}

.main-second-div5-skills1  {
    font-family: roboto-bold, sans-serif;
    font-size: 14px;
}

.main-second-div5-skills3-1 {
    font-family: roboto-light, sans-serif;
    font-size: 14px;
}



.main-second-div5-line {
    display: table;
    margin: 0 auto;
}


.main-second-div5-line div {
    display: inline;
    line-height: 1;
    font-size: 18px;
    font-weight: 100;
    vertical-align: middle;
}

.main-second-div5-line span {
    display: block;
    width: 140px;
    height: 1px;
    margin: 4px 0;
    background-color: #f4511e;
}

.main-second-div5-skills1-1, .main-second-div5-line, .main-second-div5-skills3-1{
    height: 30px;
}

.main-second-div5-skills2 {
    margin: 0 15px;
}

.main-fourth {
    background: #171f23;
    padding: 50px 150px;
}

.main-fourth-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 0;
}
.main-fourth > div {
    text-align: center;
}

.main-fourth-1 {
    /*text-align: center;*/
    font-family: roboto-condensed, sans-serif;
    font-size: 36px;
    color: white;
    letter-spacing: 5px;
}

.main-fourth-2-line {
    display: table;
    margin: 0 auto;
}


.main-fourth-2-line div {
    display: inline;
    line-height: 1;
    font-size: 18px;
    font-weight: 100;
    vertical-align: middle;
}

.main-fourth-2-line span {
    display: block;
    width: 140px;
    height: 1px;
    margin: 4px 0;
    background-color: #404040;
}

.main-fourth-3-content {
    margin: 0 50px;
    align-self: flex-end;
}

.main-fourth-3-content-title {
    font-family: roboto-light, sans-serif;
    font-size: 18px;
    color: white;
    margin: 10px 0;
    align-self: flex-end;
}

.main-fourth-3-content-number {
    font-family: roboto-light, sans-serif;
    font-size: 46px;
    color: white;
    align-self: flex-end;
}

.main-fourth-3-content-img {
    align-self: flex-end;
}



.main-fifth {
    padding: 100px 200px;
}

.main-fifth-div1 {
    font-family: bignoodle, sans-serif;
    font-size: 48px;
    letter-spacing: 5px;
    text-align: center;
}

.main-fifth-div2 {
    display: table;
    margin: 0 auto;
}


.main-fifth-div2 div {
    line-height: 1;
    font-size: 18px;
    font-weight: 200;
    vertical-align: middle;
}

.main-fifth-div2 span {
    display: block;
    width: 140px;
    height: 3px;
    margin: 4px 0;
    background-color: #f4511e;
}

.main-fifth-div3 {
    margin: 50px;
    text-align: center;
    font-family: roboto-thin, sans-serif;
    font-size: 14px;
    color: #696969;
}

.main-fifth-div4 {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    /*align-items: center;*/
}

.main-fifth-div4-1 {
    padding-bottom:  20px;
    text-align: left;
    background-color: #ebebeb;
    margin: 10px;
}

.main-fifth-div4-title {
    font-family: roboto-light, sans-serif;
    font-size: 18px;
    color: #505050;
    margin: 10px 0
}

.main-fifth-div4-content {
    font-family: roboto-thin, sans-serif;
    font-size: 14px;
    color: #797979;
    margin: 15px 0;
}

.main-fifth-div4-footer1, .main-fifth-div4-footer2 {
    font-family: roboto-condensed, sans-serif;
    font-size: 10px;
    color: #8a8989;
}

.main-fifth-div4-footer1 {
    float: left;
}

.main-fifth-div4-footer2 {
    float: right;
}

.main-fifth-div4-image {
    height: 218px;
    background: #787474;
}

.main-fifth-div4-margin {
    margin: 20px;
}

.main-fifth-div4-image-main {
    display: none;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.main-fifth-div4-image:hover {
    background: url("./../images/blog_background.png") no-repeat;
    background-size: cover;
    /*background-size: 100%;*/
}

.main-fifth-div4-image:hover .main-fifth-div4-image-main{
    display: flex;
}



.main-six {
    background: #171f23;
    padding: 50px 150px;
}

.main-six-3 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 25px 0;
}
.main-six > div {
    text-align: center;
}

.main-six-1 {
    font-family: roboto-condensed, sans-serif;
    font-size: 36px;
    color: white;
    letter-spacing: 5px;
}

.main-six-2-line {
    display: table;
    margin: 0 auto;
}


.main-six-2-line div {
    display: inline;
    line-height: 1;
    font-size: 18px;
    font-weight: 100;
    vertical-align: middle;
}

.main-six-2-line span {
    display: block;
    width: 140px;
    height: 1px;
    margin: 4px 0;
    background-color: #404040;
}

.main-six-3-content {
    margin: 0;
    align-self: flex-end;
}

.main-six-3-content-title {
    font-family: roboto-light, sans-serif;
    font-size: 18px;
    color: white;
    margin: 10px 0;
    align-self: flex-end;
}

.main-six-3-content-number {
    font-family: roboto-light, sans-serif;
    font-size: 46px;
    color: white;
    align-self: flex-end;
}

.main-six-3-content-img {
    align-self: flex-end;
}

.main-six-3-content-title {
    background: black;
    padding: 30px 80px;
    margin: 0;
}
.main-six-3-content-title-1 {
    font-family: roboto-bold, sans-serif;
    font-size: 14px;
    color: white;
}

.main-six-3-content-title-2 {
    font-family: roboto-light, sans-serif;
    font-size: 36px;
    color: white;
}

.main-six-3-content-main {
    background: #1f282c;
    padding: 30px 80px;
}

.main-six-3-content-main-item{
    font-family: roboto-light, sans-serif;
    font-size: 14px;
    color: white;
    margin: 20px 0;
}

.main-six-3-content-main-item-number{
    font-family: roboto-bold, sans-serif;
    font-size: 14px;
    color: white;
}

.main-six-3-content-main-button-form input[type=submit] {
    font-family: roboto-bold, sans-serif;
    font-size: 14px;
    color: white;
    padding: 10px 15px;
    background: #f6744b;
    border: none;
    border-radius: 3px;
    letter-spacing: 1px;
}

.main-six-3-content:hover {
    border: solid 1px #f6744b;
}

.main-six-3-content:hover .main-six-3-content-main-item .main-six-3-content-main-item-number {
    color: #f6744b;
}



.main-seven {
    padding: 100px 200px;
}

.main-seven-div1 {
    font-family: bignoodle, sans-serif;
    font-size: 48px;
    letter-spacing: 5px;
    text-align: center;
}

.main-seven-div2 {
    display: table;
    margin: 0 auto;
}


.main-seven-div2 div {
    line-height: 1;
    font-size: 18px;
    font-weight: 200;
    vertical-align: middle;
}

.main-seven-div2 span {
    display: block;
    width: 140px;
    height: 3px;
    margin: 4px 0;
    background-color: #f4511e;
}

.main-seven-div3 {
    margin: 50px;
    text-align: center;
    font-family: roboto-thin, sans-serif;
    font-size: 14px;
    color: #696969;
}

.main-seven-div4 {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    /*align-items: center;*/
}

.main-seven-div4-1 {
    /*margin-left: 35px;*/
    padding-bottom:  20px;
    text-align: left;
    background-color: #ebebeb;
    /*flex:1 1 ;*/
    margin: 10px;
}

.main-seven-div4-title {
    font-family: roboto-light, sans-serif;
    font-size: 18px;
    color: #505050;
    margin: 10px 0
}

.main-seven-div4-content {
    font-family: roboto-thin, sans-serif;
    font-size: 14px;
    color: #797979;
    margin: 15px 0;
}

.main-seven-div4-footer1, .main-seven-div4-footer2 {
    font-family: roboto-condensed, sans-serif;
    font-size: 10px;
    color: #8a8989;
}

.main-seven-div4-footer1 {
    float: left;
}

.main-seven-div4-footer2 {
    float: right;
}

.main-seven-div4-image {
    height: 218px;
    background: #787474;
}

.main-seven-div4-margin {
    margin: 20px;
}

.main-seven-div4-image-main {
    display: none;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.main-seven-div4-image:hover {
    background: url("./../images/blog_background.png") no-repeat;
    background-size: 100%;
}

.main-seven-div4-image:hover .main-fifth-div4-image-main{
    display: flex;
}

.main-seven-div4-row1 {
    display: flex;
    width: 100%;
}

.main-seven-div4-row1-title {
    font-family: roboto-bold, sans-serif;
    font-size: 14px;
    color: #696969;
}

.main-seven-div4-row1-title sup {
    color: #f6744b;
}

.main-third-1-3-form input[type=submit] {
    /*margin: 0 auto;*/
    /*text-align: center;*/
    font-family: roboto-bold, sans-serif;
    font-size: 14px;
    color: white;
}

.main-seven-div4-row1-input input[type=text]{
    border: none;
    border-bottom: solid 1px #cacaca;
    margin: 15px 0;
    width: 100%
}

.main-seven-div4-row1-content {
    margin: 20px;
    flex-basis: 50%;
}

.main-seven-div4 > form {
    width: 100%;
}

.main-seven-div4-row2 {
    margin: 0 20px;
}

.main-seven-div4-row3-button {
    text-align: center;
    margin: 20px;
}
.main-seven-div4-row3-button input[type=submit] {
    font-family: roboto-bold, sans-serif;
    font-size: 14px;
    background: #f6744b;
    color: white;
    border:  none;
    padding: 20px 40px;
}

.main-eight {
    font-family: roboto-bold, sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: white;
    background: black;
    padding: 20px 0;
    text-align: center;
    overflow: hidden;

}
footer {
    background: #171f23;
    text-align: center;
    padding: 50px 0;
}

.footer-title {
    font-family: bignoodle, sans-serif;
    font-size: 24px;
    color: white;
    letter-spacing: 3px;
    margin: 10px 0;
}

.footer-content {
    font-family: roboto-condensed, sans-serif;
    font-size: 14px;
    color: white;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.footer-social-networks {
    height: 14px;
    text-align: center;
    /*width: 100%;*/
    margin-left: 49%;
}

.footer-social-networks span{
    width: 20px;
    height: 14px;
}

.footer-social-networks-be {
    width: 20px;
    height: 14px;
    background: url("../images/social_networks.png") 0 0;
    text-indent:-9999px;
    /*display:in;*/
}

.footer-social-networks-list {
    position:relative;
    text-align: center;
    margin: 0 auto;
    line-height: 1.4;
    padding-left: 0;
    width: 100%;
}

.footer-social-networks-list li{margin:0;padding:0;list-style:none;position:absolute;top:0;}
.footer-social-networks-list li, .footer-social-networks-list a{height:15px;display:inline;}

.footer-social-networks-list-be{left:0px;width:20px;}
.footer-social-networks-list-be{background:url('../images/social_networks.png') 0 0;}

.footer-social-networks-list-twitter{left:15px;width:20px;}
.footer-social-networks-list-twitter{background:url('../images/social_networks.png') 20px 0;}

.footer-social-networks-list-facebook{left:35px;width:20px;}
.footer-social-networks-list-facebook{background:url('../images/social_networks.png') 45px 0;}

.main-eight-map {
    display: none;
}

/*.main-eight-link:target + .main-eight-map {*/
    /*display: block;*/
/*}*/

.main-second2-div4-images-flex {
    display: flex;

}

.main-second2 {
    /*padding: 100px 200px;*/
}

.main-second2-div1 {
    font-family: bignoodle, sans-serif;
    font-size: 48px;
    letter-spacing: 5px;
    text-align: center;
    margin-top: 80px
}

.main-second2-div2 {
    display: table;
    margin: 0 auto;
}


.main-second2-div2 div {
    line-height: 1;
    font-size: 18px;
    font-weight: 200;
    vertical-align: middle;
}

.main-second2-div2 span {
    display: block;
    width: 140px;
    height: 3px;
    margin: 4px 0;
    background-color: #f4511e;
}

.main-second2-div3 {
    margin: 50px;
    text-align: center;
    font-family: roboto-thin, sans-serif;
    font-size: 14px;
    color: #696969;
}

.main-second2-div4 {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    /*align-items: center;*/
}

.main-second2-div4-1 {
    /*margin-left: 35px;*/
    padding: 20px;
    text-align: center;
    background-color: #ebebeb;
    /*flex:1 1 ;*/
    margin: 10px;
}

.main-second2-div4-title {
    font-family: roboto-bold, sans-serif;
    font-size: 18px;
    color: #707070;
    margin: 10px 0
}

.main-second2-div4-content {
    font-family: roboto-thin, sans-serif;
    font-size: 14px;
    color: #707070;
}


.main-second2-div4-images {
    margin-top: 30px;
}

.main-second2-div4-images > div > div img{
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 700px) {
    .main-second-div4, .main-fourth-3 {
        flex-wrap: wrap;
    }


    .main-fourth {
        padding: 50px;
    }
}
@media screen and (max-width: 900px) {
    .header {
        padding: 50px 20px;
    }
    .main-second-div4 {
        width: 100%;
    }

    .main-seven-div4 {
        width: 100%;
    }

    .main-six {
        padding: 50px;
    }
}
@media screen and (max-width: 1200px) {

    .main-seven {
        padding: 100px 0;
    }

    .main-second {
        padding: 100px 0;
    }

    .main-fifth {
        padding: 100px 0;
    }

    .main-fifth-div4 {
        width: 100%;
    }
    .main-third {
        display: block;
    }

    .main-second2-div4-images-flex {
        display: block;
        text-align: center;
    }

    .main-third-1 {
        flex-basis: auto;
    }

    .main-third-2 {
        flex-basis: auto;
        width: 100vw;
        height: 56.25vw;
    }
}

.main-second2-div4-images-flex img:hover {
    opacity: 0.3;

}

.rocket-in-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
}


/* Style the Image Used to Trigger the Modal */
#myImg1,#myImg2,#myImg3  {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg1:hover {opacity: 0.7;}
#myImg2:hover {opacity: 0.7;}
#myImg3:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}



#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
    display: none;
    width: 60px;
    height: 45px;
    position: relative;
    margin: 50px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

@media screen and (max-width: 1920px) {
    #nav-icon3 {
        display: block !important;
        position: fixed !important;
        z-index: 2000;
        top: 0;
        right: 0;
        margin-right: 50px;
    }

#nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: grey;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
    top: 0px;
}

#nav-icon3 span:nth-child(2), #nav-icon3 span:nth-child(3) {
    top: 18px;
}

#nav-icon3 span:nth-child(4) {
    top: 36px;
}

#nav-icon3.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

#nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}


